.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__box {
    width: 1.5em;
    height: 1.5em;
    border-radius: .2em;
    border: 2px solid var(--divkit-checkbox-off-color, rgba(0, 0, 0, .3));
    background: transparent;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__box_checked {
    background-color: var(--divkit-checkbox-on-color, #129386);
    border-color: var(--divkit-checkbox-on-color, #129386);
}

.checkbox__checkmark {
    width: .8em;
    height: .5em;
    border-left: 2px solid var(--divkit-checkbox-check-mark-color, #fff);
    border-bottom: 2px solid var(--divkit-checkbox-check-mark-color, #fff);
    transform: rotate(-45deg);
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

.checkbox__box_checked .checkbox__checkmark {
    opacity: 1;
}

.checkbox_disabled .checkbox__box {
    opacity: .4;
}

.checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    appearance: none;
    pointer-events: auto;
}
