.radio {
    position: relative;
    display: flex;
}

.radio__group {
    display: flex;
    width: 100%;
}

.radio__group_vertical {
    flex-direction: column;
}

.radio__group_horizontal {
    flex-direction: row;
    flex-wrap: wrap;
}

.radio__item {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.radio_disabled .radio__item {
    cursor: default;
    opacity: .4;
}

.radio__circle {
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    border: 2px solid var(--divkit-radio-default-color, rgba(0, 0, 0, .3));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: border-color .15s ease-in-out;
}

.radio__circle_selected {
    border-color: var(--divkit-radio-selected-color, #129386);
}

.radio__dot {
    width: .7em;
    height: .7em;
    border-radius: 50%;
    background: transparent;
    transition: background-color .15s ease-in-out;
}

.radio__circle_selected .radio__dot {
    background-color: var(--divkit-radio-selected-color, #129386);
}

.radio__label {
    margin-left: .5em;
    user-select: none;
    color: var(--divkit-radio-text-color, inherit);
}

.radio__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    appearance: none;
    pointer-events: auto;
    cursor: pointer;
}

.radio_disabled .radio__input {
    cursor: default;
}
