.webview__frame {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: auto;
}

.webview__aspect-wrapper {
    position: relative;
}

.webview__aspect-wrapper .webview__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
